.icon {
    width: 28px; height: 28px;
    vertical-align: -0.15em;
    fill: white;
    overflow: hidden;
 }
 .icon2 {
    width: 28px; height: 28px;
    vertical-align: -0.15em;
    fill: black;
    overflow: hidden;
 }