*{margin: 0;padding: 0;list-style: none;}
.icon {width: 30px; height: 25px; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
.draw{position: fixed; top:0; left:0; background-color: white}
.tool{position: fixed;top: 0; left: 0;content: ''; display: block; clear: both;}
.tool>li{position: relative; float: left; padding:10px 10px; background: white;}
.tool>.pen>.color{position: absolute; top: 40px;left:50%;transform: translateX(-50%); display: none;}
.tool>.pen:hover>.color{display: block;}
.tool>.pen>.color>li{width: 20px; height: 20px; margin-bottom: 4px; border-radius: 50%;
background-color: black;opacity: 0.5;}
.tool>.pen>.color>li:hover{opacity: 1; 3px solid;box-sizing: border-box;}
.tool>.pen>.color>.red{background-color: red}
.tool>.pen>.color>.yellow{background-color: yellow}
.tool>.pen>.color>.blue{background-color: blue}
.tool>.earser>.earserSize{position: absolute; top: 40px;left:50%;transform: translateX(-50%); display: none;}
.tool>.earser:hover>.earserSize{display: block;}
.tool>.earser>.earserSize>li{position: relative; width: 20px; height: 20px; margin-bottom: 4px;}
.tool>.earser>.earserSize>li:hover>div{opacity: 1;}
.tool>.earser>.earserSize>li>div{position: absolute; top: 50%; left: 50%; 
transform: translateY(-50%) translateX(-50%); opacity: 0.5;}
.tool>.earser>.earserSize>.small>div{width: 14px; height: 14px; border-radius: 50%;
background-color: gray}
.tool>.earser>.earserSize>.common>div{width: 16px; height: 16px; border-radius: 50%;
background-color: gray}
.tool>.earser>.earserSize>.big>div{width: 18px; height: 18px; border-radius: 50%;
background-color: gray}
.tool>.earser>.earserSize>.clear>div{width: 20px; height: 20px; border-radius: 50%;
background-color: gray}
.tool>.line>.lineSize{position: absolute; top: 40px;left:50%;transform: translateX(-50%); display: none;}
.tool>.line:hover>.lineSize{display: block;}
.tool>.line>.lineSize>li{position: relative; width: 20px; height: 20px; margin-bottom: 4px;}
.tool>.line>.lineSize>li>div{position: absolute; top: 50%; left: 50%; width: 20px; border: 1px solid black;
transform: translateY(-50%) translateX(-50%); opacity: 0.5;}
.tool>.line>.lineSize>li:hover>div{opacity: 1;}
.tool>.line>.lineSize>.line-1>div{width: 20px; border: 1px solid black;}
.tool>.line>.lineSize>.line-2>div{width: 20px; border: 2px solid black;}
.tool>.line>.lineSize>.line-3>div{width: 20px; border: 3px solid black;}
.tool>.line>.lineSize>.line-4>div{width: 20px; border: 4px solid black;}